<!--/**-->
<!--* @author Liavontsi Brechka-->
<!--* @studentID 300800345-->
<!--* @date April 10, 2017-->
<!--* @description Personal Portfolio websit component-->
<!--*/-->
<div class="row">
    <!--Project Name-->
    <div class="row text-center">
        <h2>Facebook Emergency Bot</h2>
    </div>
    <!--Project Description-->
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <img src="/assets/images/project2.png" class="img-responsive img-rounded center-block">
            </div>
            <div class="col-md-6 text-center">
                <p>Created a server side application to handle users’ requests in emergency
                    situations and provide them with vital information using Node.js, Wit.ai, and Facebook
                    Messenger APls. Used Raspberry Pi as a workstation. The team won this hackathon.</p>
            </div>
        </div>
    </div>
    <!--Project Links-->
    <div class="row top-buffer">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="list-group">
                    <a href="https://github.com/LeontiBrechko/emergencyWitBot"
                       class="list-group-item list-group-item-action"
                       target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>