<!--/**-->
<!--* @author Liavontsi Brechka-->
<!--* @studentID 300800345-->
<!--* @date April 10, 2017-->
<!--* @description Personal Portfolio websit component-->
<!--*/-->
<div class="row">
    <!--Project Name-->
    <div class="row text-center">
        <h2>Electronic Book Library</h2>
    </div>
    <!--Project Description-->
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <img src="/assets/images/project3.png" class="img-responsive img-rounded center-block">
            </div>
            <div class="col-md-6 text-center">
                <p>Developed Java EE web application that allows clients to download free eBooks.
                    Used MySQL for storing data and Tomcat as a web server. Improved account
                    security by hashing and salting passwords stored in the database, page filtering,
                    and email verification.</p>
            </div>
        </div>
    </div>
    <!--Project Links-->
    <div class="row top-buffer">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="list-group">
                    <a href="https://github.com/LeontiBrechko/eLibrary---CTS-project-BSU---FAMCS-"
                       class="list-group-item list-group-item-action"
                       target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>