<!--/**-->
<!--* @author Liavontsi Brechka-->
<!--* @studentID 300800345-->
<!--* @date April 10, 2017-->
<!--* @description Personal Portfolio websit component-->
<!--*/-->

<div class="row">
    <!--Project Name-->
    <div class="row text-center">
        <h2>Russian AI Cup 2016</h2>
    </div>
    <!--Project Description-->
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <img src="/assets/images/project1.png" class="img-responsive img-rounded center-block">
            </div>
            <div class="col-md-6 text-center">
                <p>Implemented an artificial intelligence strategy for a Multiplayer Online Battle
                    Arena game using Java programming language. </p>
            </div>
        </div>
    </div>
    <!--Project Links-->
    <div class="row top-buffer">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="list-group">
                    <a href="https://github.com/LeontiBrechko/RussianAICup2016"
                       class="list-group-item list-group-item-action"
                       target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
                    <a href="http://russianaicup.ru/profile/leontibrechko"
                       class="list-group-item list-group-item-action"
                       target="_blank">Russian AI Cup Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>