<footer class="footer">
    <div class="container">
        <p class="text-muted">©Copyright 2017 Liavontsi Brechka</p>
    </div>
</footer>


<!-- JAVASCRIPT SECTION -->
<script src="/public/javascripts/lib/jquery/dist/jquery.min.js"/>
<script src="/public/javascripts/lib/bootstrap/dist/js/bootstrap.min.js"/>
</body>
</html>