<!--/**-->
<!--* @author Liavontsi Brechka-->
<!--* @studentID 300800345-->
<!--* @date April 10, 2017-->
<!--* @description Personal Portfolio websit component-->
<!--*/-->
<footer class="footer top-buffer">
    <div class="container text-center">
        <p class="text-muted">©Copyright 2017 Liavontsi Brechka</p>
    </div>
</footer>


<!-- JAVASCRIPT SECTION -->
<script src="/javascripts/lib/jquery/dist/jquery.min.js"/>
<script src="/javascripts/lib/bootstrap/dist/js/bootstrap.min.js"/>
<script src="/javascripts/app.js"/>
</body>
</html>