<!-- MAIN CONTENT -->
<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <img src="/assets/images/profile_image.jpeg" height="300" width="300"/>
        </div>
        <div class="col-md-6">
            <h1>About Liavontsi Brechka</h1>
            <p>
                Software Engineering student and Oracle Certified Java Professional with a big passion for a software
                development. Solid background in mathematics, algorithms theory and object-oriented programming. Strong
                interest in server-side and network programming, IOT, and team projects. Excellent problem solving,
                interpersonal and analytical skills.
            </p>
            <h4>Interesting links:</h4>
            <div class="list-group">
                <a href="https://github.com/LeontiBrechko"
                   class="list-group-item list-group-item-action"
                   target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/liavontsi-brechka-2257a0106"
                   class="list-group-item list-group-item-action"
                   target="_blank">LinkedIn</a>
                <a href="http://codeforces.com/profile/LeontiBrechko"
                   class="list-group-item list-group-item-action"
                   target="_blank">Codeforces</a>
            </div>
        </div>
    </div>
</div>