<!--/**-->
<!--* @author Liavontsi Brechka-->
<!--* @studentID 300800345-->
<!--* @date April 10, 2017-->
<!--* @description Personal Portfolio websit component-->
<!--*/-->
<!-- MAIN CONTENT -->
<div class="container">
    <!--Title-->
    <div class="row">
        <div class="col-md-12 text-center"><h1>About Liavontsi Brechka</h1></div>
    </div>
    <!--About me information-->
    <div class="row well">
        <div class="col-md-2 col-md-offset-2">
            <img src="/assets/images/profile-picture.png" class="img-responsive img-rounded center-block"/>
        </div>
        <div class="col-md-6">
            <p>
                Software Engineering student and Oracle Certified Java Professional with a big passion for a software
                development. Solid background in mathematics, algorithms theory and object-oriented programming. Strong
                interest in server-side and network programming, IOT, and team projects. Excellent problem solving,
                interpersonal and analytical skills.
            </p>
            <h4>Interesting links:</h4>
            <div class="list-group text-center">
                <a href="https://github.com/LeontiBrechko"
                   class="list-group-item list-group-item-action"
                   target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
                <a href="https://www.linkedin.com/in/liavontsi-brechka-2257a0106"
                   class="list-group-item list-group-item-action"
                   target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a>
                <a href="http://codeforces.com/profile/LeontiBrechko"
                   class="list-group-item list-group-item-action"
                   target="_blank">Codeforces</a>
                <a href="https://www.facebook.com/leontibrechko"
                   class="list-group-item list-group-item-action"
                   target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
                <a href="https://vk.com/bre4ul9"
                   class="list-group-item list-group-item-action"
                   target="_blank"><i class="fa fa-vk" aria-hidden="true"></i> VK</a>
            </div>
        </div>
    </div>
</div>