<!--/**-->
<!--* @author Liavontsi Brechka-->
<!--* @studentID 300800345-->
<!--* @date April 10, 2017-->
<!--* @description Personal Portfolio websit component-->
<!--*/-->
<!-- MAIN CONTENT -->
<div class="container">
    <!--Title-->
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Liavontsi Brechka</h1>
            <h3 class="subtitle">Software Developer Portfolio</h3>
        </div>
    </div>
    <!--Home intro-->
    <div class="row well">
        <div class="col-md-4">
            <img src="/assets/images/belarus-flag.png" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img src="/assets/images/home-profile-picture.png" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img src="/assets/images/canada-flag.jpg" class="img-responsive img-rounded center-block">
        </div>
    </div>
</div>