<!-- MAIN CONTENT -->
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 text-center">
            <h1>Liavontsi Brechka</h1>
            <h3 style="color: gray; font-weight: 300">Software Developer Portfolio</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="/assets/images/belarus-flag.png" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img src="/assets/images/home-profile-picture.png" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img src="/assets/images/canada-flag.jpg" class="img-responsive img-rounded center-block">
        </div>
    </div>
</div>