<!--/**-->
<!--* @author Liavontsi Brechka-->
<!--* @studentID 300800345-->
<!--* @date April 10, 2017-->
<!--* @description Personal Portfolio websit component-->
<!--*/-->
<!-- MAIN CONTENT -->
<div class="container">
    <!--Title-->
    <div class="row">
        <div class="col-md-offset-3 col-md-6 text-center">
            <h1>My Services</h1>
        </div>
    </div>
    <!--Services-->
    <div class="row well">
        <div class="col-md-12 text-center">
            <h4>Currently, I don't provide any services. Please, stay tuned for updates.</h4>
        </div>
    </div>
</div>