<!--/**-->
<!--* @author Liavontsi Brechka-->
<!--* @studentID 300800345-->
<!--* @date April 10, 2017-->
<!--* @description Personal Portfolio websit component-->
<!--*/-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
