/**
* @author Liavontsi Brechka
* @studentID 300800345
* @date April 10, 2017
* @description Personal Portfolio websit component
*/

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("/assets/images/background.jpg");
}

a {
    color: #00B7FF;
}

.top-buffer {
    margin-top: 5px;
}

.subtitle {
    color: gray;
    font-weight: 300;
}